This is first of a set of projects called *The Flurries*. I tend to get really interested in some random topic for a short period of time before I lose interest. These small-ish projects will allow me to have some fun with these topics before I never think of them again.

My current fad? The history of speedrunning various video games. I thank the youtuber SummoningSalt (also an accomplished speedrunner) for introducing me to this world through his videos. The first video of his that I found was the history of speedrunning the original Super Mario Bros

The goal of the project will be to identify when the biggest leaps in speedrunning technique for SMB were found using data. The data comes from [speedrun.com](https://www.speedrun.com)

While copy-pasting the table of record times does yield a space-delimited values sheet, the dates lose granularity over time. To get the true date a run was set, we need to parse the HTML of the table of speed records. That will be the first challenge of this project

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("times_2020_12_17.csv", encoding = "ISO-8859-1")
df.head()

           Player          Time
0         Niftski  4m 55s 430ms
1          Kosmic  4m 55s 646ms
2   tavenwebb2002  4m 55s 746ms
3  eddiecatgaming  4m 55s 763ms
4         somewes  4m 55s 796ms